{{ if .IsFullFile }}
{{`{{< github repository="pellepelster/hetzner-rds-postgres"`}} file="{{.Filename}}"  >}}{{.Filename}}{{`{{< /github >}}`}}
{{ else }}
{{`{{< github repository="pellepelster/hetzner-rds-postgres"`}} file="{{.Filename}}#L{{.Start}}-L{{.End}}"  >}}{{.Filename}}{{`{{< /github >}}`}}
{{ end }}
{{`{{< highlight go "" >}}`}}
{{.Content}}
{{`{{< / highlight >}}`}}